<div id="wrapper">

    <section>
        <br>
        <article>
        <h3>Kampeerplaats</h3>
        </article>
        <br>

        <article>
        <h3>Kampvuur</h3>
        </article>
        <br>

        <article>
        <h3>Eetzaal - Lokaal</h3>
        </article>
        <br>

        <article>
        <h3>Keuken</h3>
        </article>
        <br>

        <article>
        <h3>Kleedkamers</h3>
        </article>
        <br>

        <article>
        <h3>Toiletten</h3>
        </article>
        <br>
    </section>
</div>