<div id="wrapper">
    <section>
        <br>
        <article>
            <h3>Bivakverhuur</h3>
            <ul>
                <li>4&euro; p.p / nacht (excl. kosten)</li>
                <li>min. 70 personen</li>
                <li>min. 10 overnachtingen</li>
            </ul>
        </article>
        <br>
        <article>
            <h3>Weekendverhuur</h3>
            <ul>
                <li>250 &euro; / weekend</li>
                <li>max. 45 personen</li>
            </ul>
        </article>
    </section>
</div>