
<!-- Modals -->
<div id="emailModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        Emails: {{email_reservation._entity}} ({{email_reservation._name}}) - {{email_reservation._created}}
      </div>
      <div class="modal-body">
        <br>
        <div class="history" ng-if="email_history">
            <div class="email" ng-repeat="history in email_history">
                <div class="header">
                    Aan: <span class="to">{{history._to}}</span><br>
                    Onderwerp: <span class="subject">{{history._subject}}</span><br>
                    Verstuurd op: <span class="sent">{{history._sent}}</span><br>
                </div>
                <hr>
                <div ng-bind-html="history._body | to_trusted"></div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearEmailHistory()">Sluiten</button>
      </div>
    </div>
  </div>
</div>

<div id="notesModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        Notities: {{note_reservation._entity}} ({{note_reservation._name}})
      </div>
      <div class="modal-body">
        <br>
        <form name="notesForm" novalidate>
            <textarea style="width: 100%" rows="3" ng-model="note._note" placeholder="Notitie"/><br>
            <div class="submit">
                <button ng-click="createNote()" ng-disabled="!note._note">Opslaan</button>
            </div>
        </form>
        <br>
        <div ng-if="notes">
            <div class="note" ng-repeat="note in notes">
                <span class="delete">
                    <a href="" class="remove" ng-click="deleteNote(note._id)"><img src="/img/trash.png" alt="delete"></a>
                </span> 
                <div class="header">
                    <span class="date">{{note._created}}</span>
                </div>
                <div class="text" ng-bind-html="note._note | to_trusted"></div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
      </div>
    </div>
  </div>
</div>

<div id="wrapper" class="reservationForm">
    <section>
        <br>
        <article>
            <h3>Beschikbaarheid kampplaats</h3>

            <div class="my-calendar">
                <span class="year">Selecteer jaar: <select ng-model="state.year"
                                                           ng-options="y for y in years"></select></span><br>

                <div class="calendar" my-calendar></div>
            </div>
            <br>

            <div class="legend">
                <div style="display: inline-block; width: 20px" class="free">&nbsp;</div>
                = Vrij

                <div style="display: inline-block; width: 20px" class="legend_selected_period">&nbsp;</div>
                = Selectie

                <div style="display: inline-block; width: 20px" class="pending">&nbsp;</div>
                = Aangevraagd

                <div style="display: inline-block; width: 20px" class="confirmed">&nbsp;</div>
                = Bezet

                <div style="display: inline-block; width: 20px" class="closed">&nbsp;</div>
                = Gesloten
            </div>
            <br>
        </article>


        <article ng-if="is_authorized()">
            <form class="adminReservationForm" name="adminReservationForm" novalidate>

                 <select id="type" name="entity" ng-model="reservation._type" ng-options="t for t in reservation_types"></select>

                 <input type="text" id="arrival" name="arrival" size="10" min="{{today}}" ng-model="reservation._arrival" placeholder="Aankomst" date-from with-to="departure" readonly autocomplete="off" required>
                 <input type="text" id="departure" name="departure" size="10" min="{{reservation._arrival}}" ng-model="reservation._departure" placeholder="Vertrek" date-to with-from="arrival" autocomplete="off" readonly required>

                 <input type="text" id="entity" name="entity" ng-model="reservation._entity" placeholder="Omschrijving" tabindex="1" autofocus required>

                 <button class="adminButton" ng-click="submitAdminReservationForm()"
                         ng-disabled="!adminReservationForm.$valid">{{reservation_button}}</button>

                <div class="status {{status}}">{{message}}</div>
            </form>

            <div class="adminCurrentReservation reservationList fadeIn" ng-if="current_reservations">
                <br>
                <h3>Geselecteerde reservaties</h3>

                <div class="reservation {{ current_reservation._status }} {{ reservation_class(current_reservation) }}" ng-repeat="current_reservation in current_reservations">

                    <span class="emails" ng-if="current_reservation._has_emails">
                        <a href="" class="emails" ng-click="loadEmailHistory(current_reservation)" data-toggle="modal" data-target="#emailModal"><img src="/img/email.png" alt="emails"></a>
                    </span>
                    <span class="notes">
                        <a href="" class="notes" ng-click="loadNotes(current_reservation)" data-toggle="modal" data-target="#notesModal"><img ng-src="/img/{{current_reservation._has_notes ? 'has-notes' : 'notes' }}.png" alt="notes"></a>
                    </span>
                    <span class="delete">
                        <a href="" class="remove" ng-click="deleteReservation(current_reservation._id)"><img src="/img/trash.png" alt="delete"></a>
                    </span> 

                    <div class="entity">
                        <span editable-text="current_reservation._entity" onaftersave="updateReservation(current_reservation)" buttons="no">{{current_reservation._entity}}</span>
                        <span editable-text="current_reservation._name" onaftersave="updateReservation(current_reservation)" buttons="no">({{current_reservation._name}})</span>
                    </div>

                    <div>Type: <select id="type" name="entity" ng-model="current_reservation._type" 
                                                               ng-options="t for t in reservation_types"
                                                               ng-change="updateReservation(current_reservation)"></select></div>
                    <div>Aantal personen: <input  type="number" ng-model="current_reservation._nr_of_people" ng-change="updateReservation(current_reservation)"></div>
                    <div>Aangevraagd op: <input type="text" size="20" ng-model="current_reservation._created" disabled></div>
                    <div>Van: <input type="text" size="10" ng-model="current_reservation._arrival" datepicker autocomplete="off" readonly ng-change="updateReservation(current_reservation)"></div>
                    <div>Tot: <input type="text" size="10" ng-model="current_reservation._departure" datepicker autocomplete="off" readonly ng-change="updateReservation(current_reservation)"></div>
                    <div class="status">Status: <select ng-model="current_reservation._status"
                                                        ng-options="s for s in reservation_status"
                                                        ng-change="updateReservation(current_reservation)"></select></div>

                    <span class="contact">
                        <div>Naam: <span editable-text="current_reservation._name" onaftersave="updateReservation(current_reservation)" buttons="no">{{current_reservation._name}}</span></div>
                        <div>Email: <a href="#" editable-text="current_reservation._email" onaftersave="updateReservation(current_reservation)" buttons="no">{{current_reservation._email}}</a></div>
                        <div>Telefoon: <span editable-text="current_reservation._phone" onaftersave="updateReservation(current_reservation)" buttons="no"> {{current_reservation._phone}}</span></div>
                    </span>
                </div>
            </div>
        </article>


        <article ng-if="!is_authorized()">
            <h3>Reservatieformulier</h3>

            <div class="formWrapper">
                <form name="reservationForm" novalidate>
                    <div class="formFields">

                    <label for="type">Soort</label>
                    <select id="type"
                            ng-model="reservation._type"
                            ng-options="t for t in reservation_types"
                            ng-change="set_limits(reservation)"
                            ></select><br>

                    <label for="entity">Vereniging</label>
                    <input type="text" id="entity" name="entity" ng-model="reservation._entity" placeholder="Naam van vereniging" autocomplete="off" required>
                    <span class="validation-error" ng-show="reservationForm.entity.$error.required">Verplicht!</span>
                    <br>

                    <label for="nr_of_people">Aantal personen</label>
                    <input id="nr_of_people" name="nr_of_people" type="number" min="{{min_nr_of_people}}" max="{{max_nr_of_people}}"
                           ng-model="reservation._nr_of_people" autocomplete="off"
                           required>
                    <span class="validation-error"
                          ng-show="reservationForm.nr_of_people.$error.min">Minstens {{min_nr_of_people}} personen</span>
                    <span class="validation-error"
                          ng-show="reservationForm.nr_of_people.$error.max">Maximaal {{max_nr_of_people}} personen</span>
                    <br>

                    <label for="name">Naam</label>
                    <input id="name" name="name" ng-model="reservation._name" placeholder="Naam" autocomplete="off" required>
                    <span class="validation-error" ng-show="reservationForm.name.$error.required">Verplicht!</span>
                    <br>

                    <label for="address">Adres</label>
                    <input id="address" name="address" ng-model="reservation._address" placeholder="Adres" autocomplete="off" required>
                    <span class="validation-error" ng-show="reservationForm.address.$error.required">Verplicht!</span>
                    <br>

                    <label for="email">Email</label>
                    <input id="email" name="email" type="email" ng-model="reservation._email" autocomplete="off" placeholder="Email" required>
                    <span class="validation-error" ng-show="reservationForm.email.$error.email">Ongeldige email</span>
                    <span class="validation-error" ng-show="reservationForm.email.$error.required">Verplicht!</span>
                    <br>

                    <label for="phone">Telefoon/GSM</label>
                    <input id="phone" name="phone" ng-model="reservation._phone" placeholder="Telefoon/GSM" autocomplete="off" required>
                    <span class="validation-error" ng-show="reservationForm.phone.$error.required">Verplicht!</span>
                    <br>

                    <!-- TODO: different behaviour for bivak: select year + one of the available blocks -->
                    <div ng-if="reservation._type == 'weekend'">
                        <!-- VAN -->
                        <label for="arrival">Aankomst</label>
                        <input type="text" id="arrival" name="arrival" size="10" min="{{today}}" ng-model="reservation._arrival" 
                               placeholder="Aankomst" date-from with-to="departure" readonly autocomplete="off" required>
                        <span class="validation-error" ng-show="reservationForm.arrival.$error.required">Verplicht!</span>
                        <br>

                        <!-- TOT -->
                        <label for="departure">Vertrek</label>
                        <input type="text" id="departure" name="departure" size="10" min="{{reservation._arrival}}"
                               ng-model="reservation._departure" placeholder="Vertrek" date-to with-from="arrival" autocomplete="off" readonly disabled required>
                        <span class="validation-error" ng-show="reservationForm.departure.$error.required">Verplicht!</span>
                        <br>
                    </div>

                    <div ng-if="reservation._type == 'bivak'">
                        <br>
                        <label for="block_year">Selecteer periode</label>
                        <select name="block_year" ng-model="block.year" ng-options="y for y in years" ng-change="loadReservationBlocks()"></select>
                        <span class="validation-error" ng-show="!reservation._arrival">Verplicht!</span>
                        <br><br>

                        <div ng-repeat="b in block[blocks_to_use]">
                            <input name="period" type="radio" value="{{b.id}}" ng-model="block.selected_block" ng-change="selectedReservationBlock()" ng-disabled="b.disabled" ng-required="true">
                            <span class="radio {{b.disabled ? 'disabled' : ''}}">Periode: {{block.year}}-{{b.from}} - {{block.year}}-{{b.to}}</span>
                        </div>                        
                    </div>
                    </div>
                    <br><br>
                    <textarea ng-model="reservation._remarks" placeholder="Eventuele opmerkingen"/><br>


                    <input type="checkbox" ng-model="reservation._agreed"/><span class="agree">Ik ga akkoord met het <a
                        href="http://www.tstupke.be/Teksten/Huishoudelijk%20Reglement%20Kampplaats%20%27t%20Stupke.pdf" target="_blank">reglement</a></span><br><br><br>

                    <div class="price" ng-show="reservation._type == 'weekend'">Geschatte prijs (exclusief kosten): 250 &euro;</div>
                    <div class="price" ng-show="reservation._type != 'weekend'">Geschatte prijs (exclusief kosten): {{(reservation._nr_of_people * 3.25 * numberOfDays(reservation._arrival, reservation._departure)) | number:0}} &euro;</div>
                    <br><br>

                    <button ng-click="already_sending || submitReservationForm()"
                            ng-disabled="(!reservation._agreed || !reservationForm.$valid || !reservation._arrival)">{{reservation_button}}
                    </button>
                </form>
            </div>
        </article>


        <span ng-if="is_authorized()">
            <!--<p>-->

            <!--<div class="debug">{{reservation | json}}</div>-->
            <!--</p>-->


            <br>
            <div class="reservationList">
            <article>
                <h3>{{reservation_count}} reservaties voor {{state.year}}</h3>

                <div class="reservation {{ reservation._status }} {{ reservation_class(reservation) }}" ng-repeat="reservation in reservations">
                    <span class="emails" ng-if="reservation._has_emails">
                        <a href="" class="emails" ng-click="loadEmailHistory(reservation)" data-toggle="modal" data-target="#emailModal"><img src="/img/email.png" alt="emails"></a>
                    </span>
                    <span class="notes">
                        <a href="" class="notes" ng-click="loadNotes(reservation)" data-toggle="modal" data-target="#notesModal"><img ng-src="/img/{{reservation._has_notes ? 'has-notes' : 'notes' }}.png" alt="notes"></a>
                    </span>
                    <span class="delete">
                        <a href="" class="remove" ng-click="deleteReservation(reservation._id)"><img src="/img/trash.png" alt="delete"></a>
                    </span> 


                    <div class="entity">
                        <span editable-text="reservation._entity" onaftersave="updateReservation(reservation)" buttons="no">{{reservation._entity}}</span>
                        <span editable-text="reservation._name" onaftersave="updateReservation(reservation)" buttons="no">({{reservation._name}})</span>
                    </div>
                    <div>Type: <select id="type" name="entity" ng-model="reservation._type" 
                                                               ng-options="t for t in reservation_types"
                                                               ng-change="updateReservation(reservation)"></select></div>
                    <div>Aantal personen: <input  type="number" ng-model="reservation._nr_of_people" ng-change="updateReservation(reservation)"></div>
                    <div>Aangevraagd op: <input type="text" size="20" ng-model="reservation._created" disabled></div>
                    <div>
                    <span>Van: <input type="text" size="10" ng-model="reservation._arrival" datepicker autocomplete="off" readonly ng-change="updateReservation(reservation)"></span>
                    <span>Tot: <input type="text" size="10" ng-model="reservation._departure" datepicker autocomplete="off" readonly ng-change="updateReservation(reservation)"></span>
                    </div>
                    <div class="status">Status: <select ng-model="reservation._status"
                                                        ng-options="s for s in reservation_status"
                                                        ng-change="updateReservation(reservation)"></select></div>

                    <span class="contact">
                        <div>Naam: <span editable-text="reservation._name" onaftersave="updateReservation(reservation)" buttons="no">{{reservation._name}}</span></div>
                        <div>Email: <a href="#" editable-text="reservation._email" onaftersave="updateReservation(reservation)" buttons="no">{{reservation._email}}</a></div>
                        <div>Telefoon: <span editable-text="reservation._phone" onaftersave="updateReservation(reservation)" buttons="no"> {{reservation._phone}}</span></div>
                    </span>
                </div>
            </article>
            </div>
        </span>
</section>
</div>